#inicial-page {
  height: 100vh;
  width: 90vw;
}

#inicial-page h1 {
  color: #4d2a70;
  font-size: 100px;
  font-weight: 700;
  margin: 10px 0;
  text-align: start;
}

#inicial-page #inicio-conteudo-home {
  color: #f7efe5;
  font-size: 18px;
  font-weight: 600;
  text-align: start;
}

#inicial-page .strongHome {
  color: #fff;
}

@media (max-width: 1366px) {
  #inicial-page h1 {
    font-size: 62px;
  }
}
