.title-cadastro {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 5%;
  color: #6c22a6;
  font-size: 50px;
}

/* estilo do componente */

.cardcadastro {
  background-color: white;
  border: 1px solid #6c22a6;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 800px;
  margin-top: 0px;
  margin-bottom: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-bottom: 20px;
}

.cardcadastro label {
  margin-bottom: 5px;
  color: #6c22a6;
  font-weight: 600;
  font-size: 16px;
}

.cardcadastro input {
  height: 24px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
}

.btn {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn-enviar {
  border: 1px solid #6c22a6;
  border-radius: 5px;
  cursor: pointer;
  background-color: #6c22a6;
  color: #fccd2a;
  font-weight: 700;
  font-size: 18px;
  width: 100px;
  height: 35px;
}

.btn-enviar:hover {
  background-color: #4b0082;
  color: #fbb32e;
  font-weight: 900;
}

.btn-enviar,
.btn-cancelar {
  border: 1px solid #6c22a6;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 10px;
  width: 110px;
  height: 45px;
  display: inline-block;
  text-align: center;
  margin-top: 0px;
}

.btn-cancelar {
  background-color: #fff;
  color: #6c22a6;
}

.btn-cancelar:hover {
  background-color: #eee;
  color: #9649d1;
}

.cardcadastro label {
  font-size: 18px;
}

.cardcadastro input,
.cardcadastro input[type="date"] {
  height: 24px;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #6c22a6;
}

.cardcadastro input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(45%) sepia(45%) saturate(300%) hue-rotate(200deg);
}

.cardcadastro input::placeholder {
  color: #6c22a6;
}
