.cardcadastro {
    background-color: white;
    border: 1px solid #6c22a6;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 580px;
    margin-bottom: 50px;
}

.div-label-input {
    width: 300px;
    margin-left: 34px;
}

.cardcadastro label {
    margin-bottom: 5px;
    color: #6c22a6;
    font-weight: 600;
    font-size: 20px;
}

.cardcadastro input {
    width: 110%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #6c22a6;
    margin-bottom: 30px;
    font-size: 16px;
}

.cardcadastro .btn-enviar {
    border: 1px solid #6c22a6;
    border-radius: 5px;
    cursor: pointer;
    background-color: #6c22a6;
    color: #FBB32E;
    font-weight: 700;
    font-size: 18px;
    padding: 2px;
    width: 100px;
    height: 35px;
}

.btn-enviar:hover {
    background-color: #b772df;
    color: #fff;
}

.cardcadastro .btn-cancelar {
    border: 1px solid #6c22a6;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    color: #6c22a6;
    font-weight: 700;
    font-size: 18px;
    padding: 2px;
    width: 100px;
    height: 35px;
}

.cardcadastro .btn {
    gap: 10px;
    display: flex;
    justify-content: center;
}