.Title-Login {
  color: #8967b3;
  font-size: 58px;
  font-weight: 500;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.fundo-login {
  background-color: aqua;
}

.card-login {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #6c22a6;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 420px;
  height: 480px;
  margin-bottom: 160px;
}

.card-login .label-input {
  width: 350px;
  margin-left: 35px;
  color: #6c22a6;
  font-size: 18px;
}

.card-login h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card-login .login-title {
  color: #6c22a6;
  font-size: 40px;
}

.card-login label {
  display: block;
  margin-bottom: 5px;
  padding: 0px;
  font-weight: bold;
}

p {
  margin: 0;
}

.card-login input {
  width: 100%;
  padding: 8px;
  margin-bottom: 32px;
  border: 1px solid #6c22a6;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}

.card-login .login-inicio {
  display: flex;
  align-items: first baseline;
  justify-content: center;
  margin-bottom: 20px;
}

.card-login .login-detalhe {
  width: 22px;
  height: 8px;
  background-color: #fe8e00;
  margin-bottom: 0;
  border-radius: 5px;
}

.card-login .btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card-login .btn-container button {
  margin: 0 10px;
}

p {
  font-size: 14px;
}

.register-link {
  font-size: 14px;
  padding: 0;
  margin-top: 0;
  padding-right: 50px;
  color: #8a6ab8;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.register-link:hover {
  color: #6c22a6;
  transition: color 0.3s ease;
  text-decoration: underline;
}

.btn-entrar {
  color: #fccd2a;
  font-weight: 700;
  font-size: 14px;
}

.btn-voltar {
  background-color: #fff;
  border: 1px solid #6c22a6;
  color: #6c22a6;
  font-weight: 700;
  font-size: 14px;
}

.btn-voltar:hover {
  background-color: #eee;
  color: #9649d1;
}
