.cat-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  overflow: hidden;
  transition: transform 0.3s ease;
  margin: 20px auto;
  border: 1px solid #bc80df;
}

.cat-card:hover {
  transform: scale(1.05);
}

.cat-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.cat-image img {
  width: 100%;
  height: 100%;
  border-radius: 0 8px 0 0;
  object-fit: cover;
}

.cat-info {
  padding: 15px;
  text-align: center;
}

.cat-name {
  font-size: 18px;
  font-weight: 300;
  color: #c68fe6;
}

a {
  text-decoration: none;
}

.cat-card:hover .cat-info {
  padding: 20px;
}
