.card-login {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #6c22a6;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 420px;
  height: 440px;
  margin-bottom: 160px;
}

.card-login .label-input {
  width: 350px;
  margin-left: 35px;
  color: #6c22a6;
  font-size: 18px;
}

.card-login h2 {
  text-align: center;
  margin-bottom: 20px;
}

.card-login .login-title {
  color: #6c22a6;
  font-size: 40px;
}

.card-login label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.card-login input {
  width: 100%;
  padding: 8px;
  margin-bottom: 32px;
  border: 1px solid #6c22a6;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}

.card-login .login-inicio {
  display: flex;
  align-items: first baseline;
  justify-content: center;
  margin-bottom: 20px;
}

.card-login .login-detalhe {
  width: 25px;
  height: 8px;
  background-color: #fe8e00;
  margin-bottom: 0;
  border-radius: 5px;
}

.card-login .btn-container {
  display: flex; /* Adiciona flexbox para alinhar os botões */
  justify-content: center; /* Centraliza os botões horizontalmente */
  margin-top: 20px; /* Adiciona um espaço acima dos botões */
}

.card-login .btn-container button {
  margin: 0 10px; /* Adiciona espaço entre os botões (10px em cada lado) */
}

.btn-voltar {
  background-color: #fff;
  border: 1px solid #6c22a6;
  color: #6c22a6;
  font-weight: 700;
}

.btn-voltar:hover {
  background-color: #eee;
  color: #9649d1;
}
