* {
  font-family: "Poppins", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cat-image {
  background-image: url("./assets/img/fundo-home.jpg");
  background-size: cover;
  background-position: center;
}
